body{
  margin: 0;
}

#hongo{
  margin-top: 20px;
  float: left;
  margin-left: 30px;
}

#boton{
  float: right;
  padding: 20px;
  margin-right: 90px;
}

#boton a{
  margin: 0 auto;
  background-color: #218bc0;
  padding: 30px;
  font-family: 'Fresca', sans-serif;
  font-size: 20px;
  border-radius: 5px;
  text-decoration: none;
  position: center;
}
